* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 70%;
  width: 42%;
  box-shadow: 0px 0px 50px 0px hsl(204, 43%, 93%);
  border-radius: 10px;
  font-family: "Karla", sans-serif;
}

.top {
  background-color: #fff;
  height: 35%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 30px;
}

.middle {
  background-color: hsl(179, 62%, 43%);
  height: 50%;
  width: 50%;
  border-bottom-left-radius: 10px;
  padding: 20px 35px;
  color: white;
}

.bottom {
  background-color: hsl(179, 54%, 58%);
  height: 50%;
  width: 50%;
  border-bottom-right-radius: 10px;
  padding: 12px 35px;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.title {
  font-size: 1.7em;
  font-weight: bolder;
  color: hsl(179, 62%, 43%);
}

.para-1 {
  font-size: 1.2em;
  font-weight: bold;
  color: hsl(71, 73%, 54%);
}

.para-2 {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.7em;
  color: hsl(218, 22%, 67%);
}

.price-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 60%;
  padding: 0 6px;
}

.para-3 {
  font-size: 1.2em;
  font-weight: bold;
}

.price-tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.price {
  font-size: 2em;
  font-weight: bold;
  margin-right: 10px;
}

.per {
  color: hsl(204, 43%, 93%);
}

.para-4 {
  color: hsl(204, 43%, 93%);
  text-align: justify;
  width: 100%;
}

.signup-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  margin: 0;
  padding: 0;
}

.signup-btn {
  width: 95%;
  height: 50%;
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  background-color: hsl(71, 73%, 54%);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px hsl(218, 22%, 67%);
  font-size: 1em;
}

.signup-btn:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: hsl(71, 88%, 53%);
}

.top-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.bottom-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.list {
  padding-bottom: 2px;
  color: hsl(204, 43%, 93%);
  font-size: 0.9em;
}

@media screen and (max-width: 1024px) {
  .container {
    height: 80%;
    width: 75%;
  }
}

@media screen and (max-width: 991px) {
  .container {
    height: 60%;
    width: 75%;
  }
}

@media screen and (max-width: 640px) {
  body {
    height: 130vh;
    width: 100vw;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    box-shadow: 0px 0px 50px 0px hsl(204, 43%, 93%);
    border-radius: 10px;
    font-family: "Karla", sans-serif;
  }

  .top {
    background-color: #fff;
    height: 33.33%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 25px 5px 25px;
  }

  .middle {
    background-color: hsl(179, 62%, 43%);
    height: 30%;
    width: 100%;
    padding: 5px 30px;
    color: white;
    border-radius: 0;
  }

  .bottom {
    background-color: hsl(179, 54%, 58%);
    height: 28%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 25px;
    color: white;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .title {
    font-size: 1.7em;
    font-weight: bolder;
    color: hsl(179, 62%, 43%);
    padding-top: 0;
  }

  .para-1 {
    font-size: 1.2em;
    font-weight: bold;
    color: hsl(71, 73%, 54%);
  }

  .para-2 {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.7em;
    color: hsl(218, 22%, 67%);
  }

  .price-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 60%;
    padding: 0 6px;
  }

  .para-3 {
    font-size: 1.2em;
    font-weight: bold;
  }

  .price-tag {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .price {
    font-size: 2em;
    font-weight: bold;
    margin-right: 10px;
  }

  .per {
    color: hsl(204, 43%, 93%);
  }

  .para-4 {
    color: hsl(204, 43%, 93%);
    text-align: justify;
    width: 100%;
  }

  .signup-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    margin: 0;
    padding: 0;
  }

  .signup-btn {
    width: 95%;
    height: 50%;
    margin: 0;
    padding: 0;
    border: none;
    color: white;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px hsl(218, 22%, 67%);
    font-size: 1.2em;
  }

  .signup-btn:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: hsl(71, 88%, 53%);
  }

  .top-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .bottom-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .list {
    padding-bottom: 2px;
    color: hsl(204, 43%, 93%);
    font-size: 1em;
  }
}

.colors {
  color: hsl(179, 62%, 43%);
  color: hsl(71, 73%, 54%);
  color: hsl(204, 43%, 93%);
  color: hsl(218, 22%, 67%);
}
